{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %} 
<div class="offset-1 col-10 list-div">
    <h3>Minhas Atividades</h3>
    <br>
    <ul class="activities-list">
        <li class="activities-item">
            <span><a class="list" href="/atividade0">Atividade 0 - Kit Básico de Laboratório</a></span>
        </li>
        <li class="activities-item">
            <span><a class="list" href="/atividade1">Atividade 1 - Forças Intermoleculares</a></span>
        </li>
        <li class="activities-item">
            <span><a class="list" href="/atividade2">Atividade 2 - Estequiometria</a></span>
        </li>
        <li class="activities-item">
            <span><a class="list" href="/atividade3">Atividade 3 - Formação de Reações</a></span>
        </li>
        <li class="activities-item">
            <span><a class="list" href="/atividade4">Atividade 4 - Princípio de Le Chatelier</a></span>
        </li>
    </ul>
</div> 
{% endblock %}